<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <title>Image History</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>
    <h1>Image History</h1>
    <table>
        <thead>
            <tr>
                <th>Username</th>
                <th>Image</th>
                <th>Timestamp</th>
            </tr>
        </thead>
        <tbody>
            {% for image in images %}
            <tr>
                <td>{{ image[0] }}</td>
                <td><img src="{{ url_for('static', filename=image[1]) }}" alt="User Image" width="100"></td>
                <td>{{ image[2] }}</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
    <a href="{{ url_for('index') }}">Back to Home</a>
</body>
</html>
