<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="{{url_for('static', filename='index.css')}}" />
    <title>images</title>
    <style>
        .noa {
            border-radius: 25px;
        }

        body {
            background-color: pink;
        }

        .pute {
            background-color:white;
            width: 90%;
            padding: 3%;
            border-radius: 20px;
        }
    </style>
</head>
<body>
    <header>
        <div class="center-container">
            <img id="preview" />
            <center>
            <div class="pute">
            <div class="form-container">
                <center>
                    <h3>Envoie lui une photo</h3>
                </center>
                <form id='theForm' action="/upload" method="post" enctype="multipart/form-data">
                    <label for="username">Entre ton prénom:</label><br>
                    <input type="text" id="username" name="username" required><br><br>
                    <input type="file" id="img" name="file" accept="image/png, image/jpeg, image/gif"><br><br>
                    <button>Envoyer</button>
                    <br><br>
                    <button type="button" onclick="window.location.href = '/home';">Retour</button>
                </form>
            </div>
        </div>
        </center>
    </header>
    <script src="https://code.jquery.com/jquery-3.4.1.js" integrity="sha256-WpOohJOqMqqyKL9FccASB9O0KwACQJpFTUBLTYOVvVU=" crossorigin="anonymous"></script>
    <script src="{{url_for('static', filename='gif.js')}}"></script>
    <script src="{{url_for('static', filename='gifDecoder.js')}}"></script>
    <script src="{{url_for('static', filename='script.js')}}"></script>
</body>
</html>
