<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="{{url_for('static', filename='index.css')}}" />
    <title>Noa</title>
    <style>
        .noa {
            border-radius: 25px;
        }

        body {
            background-color: pink;
        }

        .pute {
            background-color:white;
            width: 90%;
            padding: 3%;
            border-radius: 20px;
            
        }
    </style>
</head>
<body>
    <header>
        <div class="center-container">
            <img id="preview" />
            <center>
            <div class="pute">
            <div class="form-container">
                
                <center>
                    <h3>Envoie lui une photo</h3>
                </center><div>
                <form id='theForm' onsubmit="return submitForm(event);">
                    <input type="file" id="img" name="img" accept="image/png, image/jpeg, image/gif" onchange="submitForm(event);" />
                   <div><br><br>
                    <button type="submit">Envoyer</button></div>
                </form>
            </div>

        </div>
        </div></center>
    </header>
    <script src="https://code.jquery.com/jquery-3.4.1.js" integrity="sha256-WpOohJOqMqqyKL9FccASB9O0KwACQJpFTUBLTYOVvVU=" crossorigin="anonymous"></script>
    <script src="{{url_for('static', filename='gif.js')}}"></script>
    <script src="{{url_for('static', filename='gifDecoder.js')}}"></script>
    <script src="{{url_for('static', filename='script.js')}}"></script>

    <script>
        function submitForm(event) {
            event.preventDefault(); // Empêche le formulaire de se soumettre de manière classique

            var formData = new FormData(document.getElementById('theForm'));

            // Faire l'upload de l'image via AJAX
            $.ajax({
                url: '/upload', // Remplacez par l'URL de votre endpoint d'upload
                type: 'POST',
                data: formData,
                contentType: false,
                processData: false,
                success: function(response) {
                    // Si l'upload est réussi, rediriger vers la nouvelle page
                    window.location.href = "https://messagenoa.pythonanywhere.com/";
                },
                error: function(jqXHR, textStatus, errorThrown) {
                    console.log('Échec de l\'upload : ' + textStatus + ' - ' + errorThrown);
                }
            });

            return false; // Empêche le formulaire de se soumettre de manière classique
        }
    </script>
</body>
</html>
